<!-- Ubicaci칩n: views/index.handlebars -->
{{#extends 'layouts/main'}}
    {{#content 'title'}}P치gina de Inicio{{/content}}
    {{#content 'body'}}
        <h2>Bienvenido a la Plataforma de Gesti칩n</h2>
        <p>Utiliza los enlaces de navegaci칩n para acceder a las diferentes funciones.</p>
    {{/content}}
{{/extends}}
